<div class="grid grid-cols-2 gap-4 h-full">
  <!---->
  <a class="card-dark h-full flex flex-col justify-start shadow-md">
    <span class="flex flex-col item-img ">
      <img src="../../../assets/icons/frontend.svg" alt="" class="w-full h-full">
    </span>
    <h2 class="mt-4 title font-gotham-medium text-white">Desarrollo FrontEnd</h2>
    <p class="parrafo mt-2 font-gotham">Desarrollando, manteniendo y diseñando interfaces para aplicaciones y paginas web.</p>
  </a>
  <!---->
  <!---->
  <a class="card-dark h-full flex flex-col justify-start shadow-md">
    <span class="flex flex-col item-img ">
      <img src="../../../assets/icons/backend.svg" alt="" class="w-full h-full">
    </span>
    <h2 class="mt-4 title font-gotham-medium text-white">Desarrollo BackEnd</h2>
    <p class="parrafo mt-2 font-gotham">Desarrollando, manteniendo e implementando m&oacute;dulos de procesos y API's Rest Full.</p>
  </a>
  <!---->
  <!---->
  <a class="card-dark h-full flex flex-col justify-start shadow-md">
    <span class="flex flex-col item-img ">
      <img src="../../../assets/icons/mobil.svg" alt="" class="w-full h-full">
    </span>
    <h2 class="mt-4 title font-gotham-medium text-white">Desarrollo Mobil</h2>
    <p class="parrafo mt-2 font-gotham">Experiencia desarrollando y diseñando aplicaciones multiplataforma.</p>
  </a>
  <!---->
  <!---->
  <a class="card-dark h-full flex flex-col justify-start shadow-md">
    <span class="flex flex-col item-img ">
      <img src="../../../assets/icons/dba.svg" alt="" class="w-full h-full">
    </span>
    <h2 class="mt-4 title font-gotham-medium text-white">DBA</h2>
    <p class="parrafo mt-2 font-gotham">Experiencia diseñando, estructurando e implementando l&oacute;gica de negocio a base de datos .</p>
  </a>
  <!---->
</div>
