.card-dark {
  background-color: rgba(39, 40, 44, .9);
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 16px;
  display: flex;
  color: white;
}

.card {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: white;
  @apply shadow-md;
  .card-content{

  }
}
.card-black {
  background-color: rgba(39, 40, 44, .9);
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 16px;
  display: flex;
  color: white;
}
.card-dark {
  background: linear-gradient(
      180deg, rgba(var(--header-bga-color-1), 0.79), rgba(var(--header-bga-color-2), 0.79), rgba(var(--header-bga-color-3), 0.79));
}


.title-1{
  font-size: 55px;
  font-family: Gotham-Bold;
  color: white;
  line-height: 1;
}
.title-2{
  font-size: 40px;
  font-family: Gotham-Bold;
  color: white;
  line-height: 1;
}
.title-3{
  font-size: 30px;
  font-family: Gotham-Bold;
  color: white;
  line-height: 1;
}
.title-4{
  font-size: 20px;
  font-family: Gotham-Medium;
  color: white;
  line-height: 1;
}
.parrafo {
  color: hsla(0, 0%, 100%, .6);
  font-size: 18px;
}
