.pl-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;
  max-width: 1276px;
  position: relative;
}
