:root {
  --pl-color-dark: #27282c;
  --header-bg-color-1: #147af2;
  --header-bg-color-2: #3067f4;
  --header-bg-color-3: #5d46f6;

  --header-bga-color-1: 20,122,242;
  --header-bga-color-2: 48,103,244;
  --header-bga-color-3: 93,70,246;


  --pl-color-yellow: #ffd031;


  --color-angular: #DD0031;

  --color-dark-light: 39,40,44,.9;

  --pl-color-gray: #f4f4f4;

  --pl-bg-pdf: #525659;
}
.pl-color-parrafo{
  color: hsla(0, 0%, 100%, .6);
}
.pl-bg-gray{
   background-color: var(--pl-color-gray);
}
.pl-bg-pfg{
   background-color: var(--pl-bg-pdf) !important;
}
.pl-bg-dark {
  background-color: var(--pl-color-dark) !important;
}

//
.pl-text-dark {
  color: var(--pl-color-dark) !important;
}
.pl-text-yellow {
  color: var(--pl-color-yellow) !important;
}

.pl-bg-primary {
  background: linear-gradient(
      180deg, var(--header-bg-color-1), var(--header-bg-color-2), var(--header-bg-color-3));
}
.pl-bg-blue-gradient{
  background: linear-gradient(
      180deg, rgba(var(--header-bga-color-1), 0.9), rgba(var(--header-bga-color-2), 0.9), rgba(var(--header-bga-color-3), 0.9));
}
.bg-color-angular{
  background-color: var(--color-angular) !important;
}
.text-color-angular{
  color: var(--color-angular) !important;
}

.bg-dark-light{
  background-color: rgba(39,40,44,.905);
}
.bg {
  //background-color: rgba(30,30,30,.95);
  background-color: rgba(39, 40, 44, 1);
  backdrop-filter: blur(5px);

}
