@font-face {
  font-family: 'Gotham';
  src: url("gothambook.otf");
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url("gothamprobold.ttf");
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url("gothammedium.otf");
}

.font-gotham {
  font-family: 'Gotham';
}

.font-gotham-bold {
  font-family: 'Gotham-Bold';
}
.font-gotham-medium{
  font-family: 'Gotham-Medium';
}


body, i, li, ul, blockquote, dl, dd, h1, h2, h3, h4, h5, h6, p, pre {
  font-family: 'Gotham';
}

//8948826365
