<div class="flex gap-x-4  content">
  <div class="grid w-2/4 relative">
    <div class="space-mobil mx-auto flex relative max-h-full overflow-hidden rounded-md z-50 h-auto flex items-center">
      <img src="../../../../../assets/image/mobil.png" alt="imagen celular note 10+"
           class="w-full h-auto relative z-30 ">
      <video [src]="'../../../../../assets/video/'+ videoName[videoIndex]" autoplay loop
             class="left-0 top-0 absolute w-full h-full p-1 z-20"></video>
      <div class="left-0 top-0 absolute w-full h-full p-1 bg-black z-10"></div>
    </div>
    <div class="space-background-mobil absolute top-0 right-0 z-30 grid h-full w-full ">
      <img src="../../../../../assets/icons/background/background-light.svg" alt="imgagen ilustradora"
           class="w-4/5 mx-auto h-full">
    </div>
  </div>
  <div class="grid w-2/4 ml-6 place-content-start">
    <div>
      <div class="grid">
        <div class="w-full">
          <h2 class="title-2">Proyectos Mobil Recientes</h2>
        </div>
      </div>
    </div>
    <p class="parrafo py-7">
      Experiencia desarrollando aplicaciones hibridas, utilizando Angular e Ionic FrameWork
    </p>
    <div class="grid grid-cols-2 gap-4 h-full">
      <!---->
      <a (click)="videoIndex = 0" class="card-dark  h-full flex flex-col justify-start shadow-md cursor-pointer">
        <span class="flex flex-col item-img-mobil w-full ">
          <img src="../../../../../assets/icons/mobil-ecommerce.svg" alt="" class="w-3/5 mx-auto h-full">
        </span>
        <h2 class="mt-6 title-4 mb-3 font-gotham-medium text-white">App Ecommerce</h2>
        <p class="text-sm pl-color-parrafo mt-2 font-gotham">Proyecto con implementaci&oacute;n de pasarelas de pago.</p>
      </a>
      <a (click)="videoIndex = 1" class="card-dark  h-full flex flex-col justify-start shadow-md cursor-pointer">
        <span class="flex flex-col item-img-mobil w-full ">
          <img src="../../../../../assets/icons/mobil-system.svg" alt="" class="w-3/5 mx-auto h-full">
        </span>
        <h2 class="mt-6 title-4 mb-3 font-gotham-medium text-white">App Administrativa</h2>
        <p class="text-sm pl-color-parrafo mt-2 font-gotham">Proyecto con implementaci&oacute;n de creación de CFDI's.</p>
      </a>
    </div>
  </div>
</div>
