<div class="page flex flex-col h-screen">
  <profile-header></profile-header>
  <section class="flex-auto pl-bg-gray ">
    <router-outlet></router-outlet>
  </section>
  <profile-footer></profile-footer>
</div>
