<main class="relative h-screen">
  <div class="bg ">
    <div class="pl-container ">
      <section class="pt-16 pb-14">
        <!--    <div class="w-full grid justify-center mb-4">-->
        <!--      <div class="flex w-40 h-40 rounded-full overflow-hidden shadow-md">-->
        <!--        <img src="../../../assets/image/cristiaalejandro.jpg" alt="Foto de cristian alejandro" class="w-full h-full">-->
        <!--      </div>-->
        <!--    </div>-->

        <h2 class="font-gotham-bold text-center text-white m-0 leading-none pb-1 name">Cristian Alejandro Ortiz
          Solano </h2>
        <div class="item-title my-2">
          <h1 class=" font-medium text-center ">
            <span class="leading-none">Desarrollador Web</span>
          </h1>
          <p class="m-0 flex justify-center text-center  leading-none">con</p>
        </div>

        <h2 class="font-gotham-bold text-center text-white m-0 leading-none">Experiencia desarrollando </h2>
        <h2 class="flex font-gotham-bold text-center text-white m-0 leading-none justify-center">
          <div class="pr-3">con</div>
          <span class="text-blue-500" id="typed">
<!--            <ul class="grid justify-start text-left ">-->
            <!--              <li class="font-gotham-bold">TypeScript</li>-->
            <!--              <li class="font-gotham-bold">Angular</li>-->
            <!--              <li class="font-gotham-bold">Java Spring</li>-->
            <!--              <li class="font-gotham-bold">SQL Server</li>-->
            <!--              <li class="font-gotham-bold">Ionic</li>-->
            <!--              <li class="font-gotham-bold">Tailwindcss</li>-->
            <!--              </ul>-->
          </span>
        </h2>

        <!--    <h1 class="font-gotham-medium text-center text-yellow-300 mb-0 ">Desarrollador Web </h1>-->


        <div class="flex gap-x-4 gap-y-3 justify-center py-4 my-4">
          <button
            class="btn-contact rounded-full py-3 px-10 border border-white-200 bg-white hover:bg-opacity-80 transition-all ease-in duration-100">
            Contactar
          </button>
          <button
            class="rounded-full py-3 px-10 border border-white-200 text-white hover:bg-white hover:bg-opacity-10 transition-all ease-in duration-100">
            Conoce m&aacute;s sobre mi experiencia
          </button>
        </div>
        <div class="grid grid-cols-2 gap-x-10 py-6 my-6">
          <div class="">
            <profile-cv-window></profile-cv-window>
          </div>
          <div class="grid ">
            <profile-card-experience></profile-card-experience>
          </div>
        </div>

      </section>
    </div>
    <div class="pl-container">
      <div class="grid justify-center pb-6 pt-8 mb-12">
        <h2 class="title-1 text-center">Proyectos Web Recientes</h2>
        <p class="parrafo py-7 w-4/5 mx-auto text-center">
          Experiencia desarrollando aplicaciones y paginas web, utilizando Angular FrameWork, TypeScript, HTML5/SCSS y Tailwindcss
        </p>
        <div class="grid justify-center mt-12">
          <div class="rounded-full border border-white w-8 h-8 relative grid place-content-center">
            <div class="rounded-full bg-white w-4 h-4"></div>
          </div>
        </div>
      </div>
      <div class=" relative">
        <div class="item-img-bg absolute -top-16 -right-14 mx-auto flex z-10">
          <img src="../../../assets/icons/background/background-rt.svg" alt="" class="w-full h-full opacity-80">
        </div>
        <div class="item-img-bg absolute -bottom-28 -left-24 mx-auto flex z-10">
          <img src="../../../assets/icons/background/background-rt.svg" alt="" class="w-full h-full opacity-80">
        </div>
        <section class="overflow-hidden relative z-30">
          <profile-projects></profile-projects>
        </section>
      </div>
    </div>
  </div>
  <div class="pl-bg-dark">
    <div class="pl-container">
      <section class="pt-16 pb-14">
        <profile-projects-mobil></profile-projects-mobil>
      </section>
    </div>
  </div>
  <div class="pl-bg-gray">
    <div class="pl-container">
      <section class="pt-16 pb-14">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magnam minus repudiandae sed voluptas. Aliquam
        cupiditate delectus eligendi est, iste itaque iusto magnam possimus praesentium quae tenetur totam! Sint,
        veniam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magnam minus repudiandae sed voluptas. Aliquam
        cupiditate delectus eligendi est, iste itaque iusto magnam possimus praesentium quae tenetur totam! Sint,
        veniam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magnam minus repudiandae sed voluptas. Aliquam
        cupiditate delectus eligendi est, iste itaque iusto magnam possimus praesentium quae tenetur totam! Sint,
        veniam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magnam minus repudiandae sed voluptas. Aliquam
        cupiditate delectus eligendi est, iste itaque iusto magnam possimus praesentium quae tenetur totam! Sint,
        veniam.
      </section>
    </div>
  </div>
</main>
