h2 {
  font-size: 55px;
  //max-height: 55px;
  //overflow: hidden;
  //
  span {
    //overflow: hidden;
    background: -webkit-linear-gradient(
        180deg, rgba(var(--header-bga-color-1), 0.9), rgba(var(--header-bga-color-2), 0.9), rgba(var(--header-bga-color-3), 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    ul {
      padding-left: 10px;
      animation: textChange 12s infinite ease-in-out;

      li {

      }

    }

  }
}

.name {
  background: -webkit-linear-gradient(
      180deg, rgba(var(--header-bga-color-1), 0.9), rgba(var(--header-bga-color-2), 0.9), rgba(var(--header-bga-color-3), 0.9));
  //background: -webkit-linear-gradient(
  //    0deg, rgba(82,96,255, 0.9), rgba(var(--header-bga-color-2), 0.9), rgba(var(--header-bga-color-3), 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-title {

  h1, p {
    color: hsla(0, 0%, 100%, .6);
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }
}
.btn-contact {
  background: linear-gradient(
      180deg, rgba(var(--header-bga-color-1), 0.9), rgba(var(--header-bga-color-2), 0.9), rgba(var(--header-bga-color-3), 0.9));
  color: white;
  border: none;
}

main {
  background-image: url("../../../assets/image/desarrollando.gif");
  background-size: cover;
}

.bg {
  //background-color: rgba(30,30,30,.95);
  background-color: rgba(39, 40, 44, 1);
  backdrop-filter: blur(5px);

}


@keyframes textChange {
  0% {
    margin-top: 0px;
  }
  5% {
    margin-top: 0px;
  }
  10% {
    margin-top: -56px;
  }
  25% {
    margin-top: -56px;
  }
  30% {
    margin-top: -111px;
  }
  45% {
    margin-top: -111px;
  }
  50% {
    margin-top: -165px;
  }
  65% {
    margin-top: -165px;
  }
  70% {
    margin-top: -220px;
  }
  85% {
    margin-top: -220px;
  }
  90% {
    //opacity: 0;
    margin-top: 0px;
  }
  100% {
    margin-top: -0px;
    //opacity: 1;
  }
}
.item-img-bg{
  width: 500px;
}
.bg-ground{
  background-image: url("../../../assets/icons/frontend.svg");
  background-size: cover;
}
