<div class="card" id="card-cv">
  <div class="card-content px-10 py-6">
    <div class="flex ">
      <!---->
      <!--TITLE-->
      <!---->
      <div class=" w-2/3 item flex items-center justify-start pb-6">
        <!---->
        <div class="content-img  mr-6">
          <div class="item-img overflow-hidden rounded-md ">
            <img src="../../../../../assets/image/cristiaalejandro.jpg" alt="foto cristian alejandro"
                 class="w-full h-full">
          </div>
        </div>
        <!---->
        <div class="item-title-name grid items-center">
          <h1 class="pl-text-dark font-gotham-medium">Cristian Alejandro Ortiz Solano</h1>
          <p class="text-sm font-medium text-gray-600">Desarrollador Web Front-End</p>
        </div>
      </div>
      <div class="grid  w-1/3"></div>
    </div>
    <!---->
    <!--GRID-->
    <!---->
    <div class="flex">
      <div class="grid w-2/3 pr-5 gap-y-8">
        <!---->
        <!--PROFILE-->
        <!---->
        <div class="item-list flex flex-col pl-text-dark  pl-6 ">
          <h2 class="item-subtitle ">
            <i></i>
            <span class="font-gotham-medium ">Perfil</span>
          </h2>
          <p class="text-gray-600 font-medium ">Ingeniero en sistemas con más de 3 años de experiec&iacute;a
            desarrollando software,
            especializado en el &aacute; de Desarrollo de FrontEnd.</p>
        </div>
        <!---->
        <!--EXPERIENCE-->
        <!---->
        <div class="item-list flex flex-col pl-text-dark pb-4 pl-6">
          <h2 class="item-subtitle mb-1 ">
            <i></i>
            <span class="font-gotham-medium ">Experiencia laboral</span>
          </h2>
          <div class="grid gap-y-3">
            <!---->
            <!---->
            <div class="item-experience">
              <h4 class="my-0.5 text-gray-600 text-base font-gotham font-semibold">
                Full Stack en Agropecuaria la capilla del noreste, Remoto
              </h4>
              <span class="text-xs font-medium text-gray-400 ">
                noviembre 2020 - agosto 2021
              </span>
              <p class="text-base my-0.5 text-gray-500">
                Desarrollando un sistema de gesti&oacute;n de ventas, seguimientos e Intranet con
                gesti&oacute;n de permiso, utilizando Java Spring Como BackEnd,
                Angular como FrontEnd y SQL Server como base de datos.
              </p>
            </div>
            <!---->
            <!---->
            <div class="item-experience">
              <h4 class="my-0.5 text-gray-600 text-base font-gotham font-semibold">
                FrontEnd en SPIN VR, Remoto
              </h4>
              <span class="text-xs font-medium text-gray-400 ">
                marzo 2021 - julio 2021
              </span>
              <p class="text-base my-0.5 text-gray-500">
                Desarrollando apliaci&oacute;n web para monitoreo de videovigilancia,
                Utilizando Angular, Tailwindcss, TypeScript para el desarrollo
              </p>
            </div>
            <!---->
            <!---->
          </div>
        </div>
      </div>
      <!---->
      <!--ASIDE-->
      <!---->
      <div class="grid w-1/3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores, atque cupiditate delectus inventore
        iure
        minima molestias nesciunt nulla, perferendis suscipit temporibus, ullam voluptatum. Asperiores consequatur eos
        itaque officia quo?
      </div>
    </div>
  </div>
</div>
