.content-projects {
  grid-template-columns:  auto 1fr;
}

.progress-content {
  .progress {
    width: 0px;
    animation: progress 8000ms infinite linear;
    height: 6px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}
@keyframes progress {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
