<div class="grid ">

  <div class="grid content-projects">

    <div class="bg-gray-50 py-6 px-2.5 flex flex-col rounded-md rounded-r-none ">
      <div class="flex flex-col flex-1 gap-y-2">
        <button class="p-4 text-left rounded-md font-gotham-medium hover:bg-gray-400 hover:bg-opacity-10">Sistema
        </button>
        <button
          class="p-4 bg-gray-600 bg-opacity-10 text-left rounded-md font-gotham-medium hover:bg-gray-400 hover:bg-opacity-10">
          Intranet
        </button>
        <button class="p-4 text-left rounded-md font-gotham-medium hover:bg-gray-400 hover:bg-opacity-10">Monitoreo
        </button>
        <button class="p-4 text-left rounded-md font-gotham-medium hover:bg-gray-400 hover:bg-opacity-10">E-Commerce
        </button>
      </div>
      <div class="flex px-2">
        <button
          class="rounded-full py-2.5 px-12 text-white pl-bg-dark hover:bg-opacity-80 transition-all ease-in duration-100">
          Ver m&aacute;s
        </button>
      </div>
    </div>
    <!--WINDOW-->
    <div class="window-card shadow-md rounded-md rounded-l-none overflow-hidden  relative">
      <div class="header-window bg-white p-2 border-b border-gray-200">
        <div class="flex gap-x-2 pl-3 py-1">
          <span class="w-2.5 h-2.5 rounded-full bg-red-400 action-window-view"></span>
          <span class="w-2.5 h-2.5 rounded-full bg-yellow-400 action-window-view"></span>
          <span class="w-2.5 h-2.5 rounded-full bg-green-500 action-window-view"></span>
        </div>
      </div>
      <div class="body-window">
        <img [src]="'../../../../../assets/image/projects/'+ intranetACN[contador]" alt="projecto acn intranet"
             class="w-full h-full">


        <!--        <img src="../../../../../assets/icons/frontend.svg" alt="projecto acn intranet">-->
      </div>
      <div class="progress-content grid w-full absolute bottom-0 left-0" *ngIf="progress">
        <div class="progress pl-bg-dark"></div>
      </div>
    </div>

  </div>
</div>
