<div class="h-full  ">
  <div class="window-card shadow-md rounded-md  overflow-hidden pl-bg-pfg">
    <div class="relative header-window bg-white p-2 border-b border-gray-200">
      <div class="flex gap-x-2 pl-3 py-1">
        <span class="w-2.5 h-2.5 rounded-full bg-red-400 action-window-view"></span>
        <span class="w-2.5 h-2.5 rounded-full bg-yellow-400 action-window-view"></span>
        <span class="w-2.5 h-2.5 rounded-full bg-green-500 action-window-view"></span>
      </div>
      <div class="absolute top-0 left-0 flex-auto w-full flex h-full items-center justify-center ">
        <span class="w-full text-xs text-gray-500 font-gotham-medium leading-none text-center">Curriculum</span>
      </div>
    </div>
    <div class="flex  mx-auto items-center h-full rounded-md overflow-hidden relative group">
      <div
        class="gap-y-3 absolute top-0 left-0 w-full h-full bg-gray-700 bg-opacity-60 grid opacity-0 place-content-center	group-hover:opacity-100 transition-opacity ease-in-out duration-200">
        <button
          class="rounded-full py-2.5 px-12 text-white pl-bg-dark hover:bg-opacity-80 transition-all ease-in duration-100">
          Descargar C.V.
        </button>
        <button
          class="rounded-full py-2.5 px-12 pl-text-dark bg-white hover:bg-opacity-80 transition-all ease-in duration-100">
          Ver C.V.
        </button>
      </div>
      <div class="p-6 content-cv flex justify-center mx-auto">
        <div class="card-img w-full rounded-md overflow-hidden ">
          <img src="../../../../../assets/image/cv.png" alt="curriculum de cristian alejandro ortiz solano"
               class="w-full">
        </div>
      </div>
    </div>
  </div>
</div>




